<h1 class="ui header centered">Ajouter un produit</h1>

<a routerLinkActive="active" [routerLink]="['/products']">
    <button class="ui left labeled icon button">
        <i class="left arrow icon"></i>
        Retour à la liste des produits
    </button>
</a>

<hr class="my-4">
<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="ui form">
        <h4 class="ui dividing header">Nom du produit</h4>
        <div class="field">
            <div class="ui input">
                <input id="name" type="text" required ngModel
                       name="name" auto-complete [(ngModel)]="myData" [source]="productsName"
                       autocomplete="off">
            </div>
        </div>
        <h4 class="ui dividing header">Quantité</h4>
        <div class="field">
            <div class="ui input">
                <input type="number" id="quantity" required ngModel
                       name="quantity">
            </div>
        </div>
        <h4 class="ui dividing header">Prix unitaire</h4>
        <div class="field">
            <div class="ui input">
                <input type="number" id="price" required ngModel
                       name="price">
            </div>
        </div>
        <button class="ui inverted green button" type="submit">Ajouter</button>
    </div>
</form>