<form *ngIf="user" (ngSubmit)="onSubmit()" #userForm="ngForm">

    <hr class="my-4">
    <div class="ui form">
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <input type="text" class="form-control" id="firstname"
                           [(ngModel)]="user.firstname" name="firstname"
                           pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ]{1,25}$"
                           required
                           #firstname="ngModel">
                </div>
                <div class="field">
                    <input type="text" class="form-control" id="lastname"
                           [(ngModel)]="user.lastname" name="lastname"
                           pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ]{1,25}$"
                           required
                           #lastname="ngModel">
                </div>
            </div>
        </div>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <sui-select class="form-control" placeholder="Choisir le sexe de l'utilisateur"
                                [(ngModel)]="user.gender"
                                #gender="ngModel" name="gender" id="gender">
                        <sui-select-option value="male"></sui-select-option>
                        <sui-select-option value="female"></sui-select-option>
                    </sui-select>
                </div>
                <div class="field">
                    <input type="number" class="form-control" id="phone"
                           [(ngModel)]="user.phone" name="phone"
                           required
                           #lastname="ngModel">
                </div>
            </div>
        </div>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <div *ngFor="let role of roles">
                        <input type="checkbox"
                               class="filled-in"
                               id="{{ role }}"
                               [value]="role"
                               [checked]="hasRole(role)"
                               (change)="selectRole($event, role)"
                        />
                        <label [attr.for]="role">
                            <span>{{ role }}</span>
                        </label>
                    </div>
                </div>
                <div class="field">
                    <button type="submit"
                            class="ui button"
                            [disabled]="!userForm.form.valid">
                        Valider
                    </button>
                </div>

            </div>
        </div>
    </div>
</form>
<h3 *ngIf="!user" class="center">Aucun utilisateur à éditer...</h3>