<h1 class="ui header centered">Liste des produits en stock</h1>

<a [routerLink]="['/addProduct']">
    <button class="ui inverted blue button">
        <i class="add circle icon"></i>
        Ajouter une commande
    </button>
</a>
<hr class="my-4">
<div class="row">
    <div class="column">
        <div class="ui action icon input">
            <input id="search_busi" type="text" placeholder="Recherche..."
                   [(ngModel)]="dataSearch" (keyup)="setFilter()">
            <select class="ui compact selection dropdown">
                <option value="all">Nom du produit</option>
            </select>
        </div>
    </div>
</div>
<table class="ui celled table">
    <thead>
    <tr>
        <th>Nom du produit</th>
        <th>Quantité totale</th>
    </tr>
    </thead>
    <tbody *ngFor="let productGroup of products" (click)="actionDetail(productGroup.name)">
    <tr [ngClass]="(productGroup.quantity < 1)? 'negative' : ''">
        <td>{{productGroup.name}}</td>
        <td>{{productGroup.quantity}}</td>
    </tr>
    <tr *ngIf="showDetails[productGroup.name]"  aplp-shadow-row-table>
        <td></td>
        <td colspan="2">
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>Prix</th>
                    <th>Quantité</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of productGroup.productsGroup"
                    [ngClass]="(product.quantityReal < 1)? 'negative' : ''">
                    <td>{{product.price}}€</td>
                    <td>{{product.quantityReal}}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>