<div *ngIf="user">
    <nav>
        <div class="ui left fixed vertical menu">
            <div class="item">
                <a style="margin-right: 2%" [routerLink]="['/index']">
                    <img src="/img/logo.png" alt="Eurotoiture" style="height: 50px">
                </a>
            </div>
            <a class="item" [routerLink]="['/businesses']">
                Les chantiers
            </a>
            <a class="item" [routerLink]="['/products']">
                Le stock
            </a>
            <a class="item" [routerLink]="['/orders']">
                Les commandes
            </a>
            <a class="item" [routerLink]="['/users']" *ngIf="this.role == 'administrateur'">
                Les utilisateurs
            </a>
        </div>
    </nav>
    <div class="ui container">
        <div class="ui message">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="ui right fixed vertical menu" *ngIf="user" style="margin-left:100px;">

        <div class="item">
            <i class="{{user.gender}} icon"></i> {{user.firstname}} {{user.lastname}}
        </div>
        <div class="item" [style.color]="'white'" [style.background-color]="role | userRoleColor" >
            {{role | uppercase}}
        </div>
        <a class="item" (click)="logout()">
            Déconnexion
        </a>
    </div>
</div>