<nav>
    <div class="ui secondary pointing menu">
        <a style="margin-right: 2%" routerLink="/index" routerLinkActive="active">
            <img src="/img/logo.png" alt="Eurotoiture" style="height: 60px">
        </a>
        <a class="item" routerLink="/businesses" routerLinkActive="active">
            Les chantiers
        </a>
        <a class="item" routerLink="/products" routerLinkActive="active">
            Le stock
        </a>
        <div class="right menu">
            <a class="ui item" (click)="logout()">
                Logout
            </a>
        </div>
    </div>
</nav>