<h1 class="ui header centered">Liste des utilisateurs de l'application</h1>

<a [routerLink]="['/register']">
    <button class="ui inverted blue button">
        <i class="add circle icon"></i>
        Ajouter un utilisateur
    </button>
</a>
<hr class="my-4">
<!-- <div class="row">
  <div class="column">
    <div class="ui action icon input">
      <input id="search_busi" type="text" placeholder="Recherche..."
             [(ngModel)]="dataSearch" (keyup)="setFilter()">
      <select class="ui compact selection dropdown">
        <option value="all">Nom du produit</option>
      </select>
    </div>
  </div>
</div> !-->
<table class="ui celled table">
    <thead>
    <tr>
        <th>Prénom et nom</th>
        <th>Pseudo</th>
        <th>Accréditation</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody *ngFor="let user of users">
    <tr>
        <td>{{user.firstname}} {{user.lastname}}</td>
        <td>{{user.username}}</td>
        <td>{{this.getRole(user.roles)}}</td>
        <td>
            <i (click)="delete(user.id)" class="remove user icon"></i>
        </td>
    </tr>
    </tbody>
</table>