<h1 class="ui header centered">Liste des utilisateurs de l'application</h1>

<a [routerLink]="['/register']">
    <button class="ui inverted blue button">
        <i class="add circle icon"></i>
        Ajouter un utilisateur
    </button>
</a>
<hr class="my-4">
<table class="ui celled unstackable table">
    <thead>
    <tr>
        <th>Prénom et nom</th>
        <th>Pseudo</th>
        <th>Tèl.</th>
        <th>Accréditation</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index" [(ngModel)]="users[i]" ngDefaultControl aplp-shadow-row-table>
        <td>{{user.firstname}} {{user.lastname}}</td>
        <td>{{user.username}}</td>
        <td>{{user.phone}}</td>
        <td>{{this.getRole(user.roles)}}</td>
        <td>
            <i (click)="delete(user.id)" class="remove user icon"></i>
            <i (click)="goEdit(user)" class="edit icon"></i>
        </td>
    </tr>
    </tbody>
</table>