<div class="ui container">
    <div class="ui message">
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <h1>Bonjour !</h1>
                    <p class="lead">Bienvenue sur l'application de gestion de chantier <b>Applepie</b></p>
                    <hr class="my-4">
                    <p>
                        Chaque porduit utilisé sur un chantier et provenant du stock doit être noté dans l'application.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="ui large buttons">
                        <a class="btn btn-primary" routerLink="/businesses" routerLinkActive="active">
                            <button class="ui button">Chantiers</button>
                        </a>
                        <div class="or"></div>
                        <a class="btn btn-primary" routerLink="/products" routerLinkActive="active">
                            <button class="ui button">Products</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <hr class="my-4">
                    <app-phone-directory></app-phone-directory>
                </div>
            </div>
        </div>
    </div>
</div>