<a [routerLink]="['/login']">Connexion</a>
<input type="mail" [(ngModel)]="email" required placeholder="Mail">
<input type="text" [(ngModel)]="username" required placeholder="username">
<input type="password" [(ngModel)]="password" required placeholder="password">
<input type="text" [(ngModel)]="firstname" required placeholder="firstname">
<input type="text" [(ngModel)]="lastname" required placeholder="lastname">
<button (click)="register()" class="ui button blue inverted">Inscription</button>

