<div class="ui middle aligned one column centered grid">
    <div class="row">
        <div class="column">
            <div class="ui input">
                <input id="search_busi" type="text" placeholder="Nom du chantier..."
                       [(ngModel)]="dataSearch" (keyup)="setFilter()">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <table class="ui celled unstackable table">
                <thead>
                <tr>
                    <th scope="col">Nom de chantier</th>
                    <th scope="col" width="50px">Status du chantier</th>
                    <th scope="col" width="50px">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let business of myBusiness" [ngClass]="(!business.active)? 'negative' : ''" aplp-shadow-row-table>
                    <td>{{business.name}}</td>
                    <td>
                        <div class="ui toggle checkbox">
                            <input *ngIf="business.active" type="checkbox" name="public" checked disabled>
                            <input *ngIf="!business.active" type="checkbox" name="public" disabled>
                            <label></label>
                        </div>
                    </td>
                    <td>
                        <button *ngIf="business.active" class="ui right labeled icon button"
                                (click)="goToDetail(business.id)">
                            <i class="right arrow icon"></i>
                            Détails
                        </button>
                        <button *ngIf="!business.active" class="ui right labeled icon button disabled"
                                (click)="goToDetail(business.id)">
                            <i class="right arrow icon"></i>
                            Détails
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="ui pagination menu" *ngIf="listPage">
                <a class="active item" *ngFor="let i of listPage" [ngClass]="{'active': i ===currentPage}"
                (click)="goToPage(i)">
                    {{i}}
                </a>
            </div>
        </div>
    </div>
</div>