<h1 class="ui header centered">Historique des commandes</h1>

<a [routerLink]="['/addProduct']">
    <button class="ui inverted blue button">
        <i class="add circle icon"></i>
        Ajouter une commande
    </button>
</a>
<hr class="my-4">
<table class="ui celled unstackable table">
    <thead>
    <tr>
        <th>Nom du produit</th>
        <th>Quantité</th>
        <th>Prix</th>
        <th>Prix total</th>
        <th>Commandé par</th>
        <th>Commandé le</th>
        <th>Reçu ?</th>
        <th aplp-rm-column>Suppression</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders; let i = index" [(ngModel)]="orders[i]"
        ngDefaultControl
        aplp-shadow-row-table>

        <td aplp-hammer [id]="order.id" (onGesture)="doSwipe($event)">{{order.product.productDetail.name}}</td>
        <td aplp-hammer [id]="order.id" (onGesture)="doSwipe($event)">{{order.quantity}}</td>
        <td aplp-hammer [id]="order.id" (onGesture)="doSwipe($event)">{{order.product.price}}€</td>
        <td aplp-hammer [id]="order.id" (onGesture)="doSwipe($event)">{{order.product.price * order.quantity}}€</td>
        <td aplp-hammer [id]="order.id" (onGesture)="doSwipe($event)">{{order.user.firstname}} {{order.user.lastname}}</td>
        <td aplp-hammer [id]="order.id" (onGesture)="doSwipe($event)">{{order.creationDate | date:'dd/MM/yyyy'}}<br>
            <i>{{order.creationDate | date:'HH:mm'}}</i></td>
        <td>
            <div class="ui toggle checkbox">
                <input *ngIf="order.active" type="checkbox" name="public" checked (change)="setActive(order.id)">
                <input *ngIf="!order.active" type="checkbox" name="public" (change)="setActive(order.id)">
                <label></label>
            </div>
        </td>
        <td aplp-rm-column>
            <i (click)="delete(order.id)" class="remove icon"></i>
        </td>
    </tr>
    </tbody>
</table>