<app-header></app-header>
<div class="container">
    <h1>Ajouter un produit au chantier</h1>
    <button class="btn btn-outline-danger" routerLinkActive="active" [routerLink]="['/business', id_business]">Retour</button>
    <hr class="my-4">
    <form  #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div class="form-group">
            <label for="name">Nom du produit</label>
            <input id="name" type="text" class="form-control" required ngModel
                   name="id_prod" auto-complete [source]="productsName"
                   placeholder="Nom du produit"
                   select-value-of="key"
                   accept-user-input="true"
                   no-match-found-text="Aucun produit trouvé/disponible"
                   (valueChanged)="myCallback($event)"
                   autocomplete="off">
        </div>
        <div class="form-group">
            <label for="quantity">Quantité</label>
            <input id="quantity" type="number" class="form-control" required ngModel
                   name="quantity" min="1" max="{{getMaxQuantity()}}">
        </div>
        <button style="float: right;" class="btn btn-success" type="submit">Ajouter</button>
    </form>
</div>