<app-header></app-header>
<div class="container">
    <h1>Ajouter un Chantier</h1>
    <button class="btn btn-outline-danger" routerLinkActive="active" routerLink="/businesses">Retour</button>
    <hr class="my-4">
    <form  #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div class="form-group">
            <label for="name">Nom du chantier</label>
            <input id="name" type="text" class="form-control" required ngModel
                   name="name">
        </div>
        <button style="float: right;" class="btn btn-success" type="submit">Ajouter</button>
    </form>
</div>