    <a routerLink="/businesses" routerLinkActive="active">
        <button class="ui left labeled icon button">
            <i class="left arrow icon"></i>
            Retour à la liste des chantiers
        </button>
    </a>
    <div *ngIf="business">
        <div class="ui message">

            <h1 class="ui header centered">{{business.name}}</h1>

            <hr class="my-4">
            <br>
            <div class="ui green ribbon label">Configuration</div>
            <br>
            <br>
            <div class="ui toggle checkbox">
                <input *ngIf="business.status" type="checkbox" name="public" checked (change)="changeStatus()">
                <input *ngIf="!business.status" type="checkbox" name="public" (change)="changeStatus()">
                <label>Status du chantier</label>
            </div>
            <br>

            <hr class="my-4">
            <br>
            <div class="ui red ribbon label">Utilisateurs</div>
            <br>
            <a [routerLink]="['/addBusinessUser', business.id]" style="float: right">
                <button class="ui inverted red button">
                    <i class="icon user"></i>
                    Ajouter un utilisateur au chantier
                </button>
            </a>
            <br>
            <div *ngFor="let user of users" class="ui image label">
                <div *ngIf="users_print[user.id]">
                    {{user.firstname}} {{user.lastname}}
                    <i class="delete icon" (click)="deleteUser(user.id)" style="cursor: pointer;"></i>
                </div>
            </div>
            <br>
            <hr class="my-4">

            <br>
            <div class="ui blue ribbon label">Produits</div>
            <br>
            <a [routerLink]="['/addBusinessProduct', business.id]" style="float: right;">
                <button class="ui inverted blue button">
                    <i class="add circle icon"></i>
                    Ajouter un produit au chantier
                </button>
            </a>
            <br>
            <br>


            <div class="ui teal message">
                <i class="icon euro"></i>
                <b>
                    Somme totale dépensée sur le chantier :
                    {{priceTot | number}}€</b>
            </div>
            <div class="row">
                <div class="column">
                    <div class="ui action icon input">
                        <input id="search_busi" type="text" placeholder="Recherche..."
                               [(ngModel)]="dataSearch" (keyup)="setFilter()">
                        <select class="ui compact selection dropdown" [(ngModel)]="typeSearch">
                            <option value="product">Nom du produit</option>
                            <option value="user">Nom d'utilisateur</option>
                        </select>
                    </div>
                </div>
            </div>
            <sui-tabset>
                <div class="ui top attached tabular menu">
                    <a class="item" suiTabHeader="1">Vue générale</a>
                    <a class="item" suiTabHeader="2">Vue détaillée</a>
                </div>
                <div class="ui bottom attached segment" suiTabContent="1">
                    <table class="ui celled unstackable table">
                        <thead>
                        <tr>
                            <th>Nom du produit</th>
                            <th>Quantité</th>
                            <th>Prix</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let productGroup of productsGroup" (click)="actionDetail(productGroup.name)">
                        <tr>
                            <td>{{productGroup.name}}</td>
                            <td>{{productGroup.quantity}}</td>
                            <td>{{productGroup.price}}€</td>
                        </tr>
                        <tr *ngIf="showDetails[productGroup.name]" class="nothover">
                            <td></td>
                            <td colspan="2">
                                <table class="ui table unstackable ">
                                    <thead>
                                    <tr>
                                        <th>Quantité</th>
                                        <th>Prix</th>
                                        <th>Date</th>
                                        <th>User</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let product of productGroup.productsGroup">
                                        <td>{{product.quantity}}</td>
                                        <td>{{product.price}}€</td>
                                        <td>{{product.creationDate | date:'dd/MM/yyyy'}}<br>
                                            <i>{{product.creationDate | date:'HH:mm'}}</i></td>
                                        <td>{{product.firstname + ' ' + product.lastname}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ui bottom attached segment" suiTabContent="2">
                    <table class="ui celled unstackable table">
                        <thead>
                        <tr>
                            <th>Nom du produit</th>
                            <th>Quantité</th>
                            <th>Prix</th>
                            <th>Date</th>
                            <th>Ajouté par</th>
                            <th>Supprimer</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let product of products">
                        <tr>
                            <td>{{product.product.productDetail.name}}</td>
                            <td>{{product.quantity}}</td>
                            <td>{{product.product.price}}€</td>
                            <td>{{product.creationDate | date:'dd/MM/yyyy'}}<br>
                                <i>{{product.creationDate | date:'HH:mm'}}</i></td>
                            <td>{{product.user.firstname + ' ' + product.user.lastname}}</td>
                            <td>
                                <button class="ui inverted red button" (click)="clickDeleteProduct(product)">DELETE
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </sui-tabset>

        </div>
    </div>
