<app-header></app-header>

<div class="ui container">
    <div *ngIf="business">
        <div class="ui message">

            <a routerLink="/businesses" routerLinkActive="active" style="float: left">
                <button class="ui left labeled icon button">
                    <i class="left arrow icon"></i>
                    Retour à la liste des chantiers
                </button>
            </a>

            <a [routerLink]="['/addBusinessUser', business.id]" style="float: right">
                <button class="ui inverted blue button">
                    <i class="icon user"></i>
                    Ajouter un utilisateur au chantier
                </button>
            </a>

            <h1 class="ui header centered">{{business.name}}</h1>

            <hr class="my-4">
            <p class="lead"></p>

            <a [routerLink]="['/addBusinessProduct', business.id]">
                <button class="ui inverted blue button">
                    <i class="add circle icon"></i>
                    Ajouter un produit au chantier
                </button>
            </a>

            <p class="lead"></p>

            <sui-tabset>
                <div class="ui top attached tabular menu">
                    <a class="item" suiTabHeader="1">Vue générale</a>
                    <a class="item" suiTabHeader="2">Vue détaillée</a>
                </div>
                <div class="ui bottom attached segment" suiTabContent="1">
                    <table class="ui celled table">
                        <thead>
                        <tr>
                            <th>Nom du produit</th>
                            <th>Quantité</th>
                            <th>Prix</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let productGroup of productsGroup" (click)="actionDetail(productGroup.name)">
                        <tr>
                            <td>{{productGroup.name}}</td>
                            <td>{{productGroup.quantity}}</td>
                            <td>{{productGroup.price}}€</td>
                        </tr>
                        <tr *ngIf="showDetails[productGroup.name]" class="nothover">
                            <td></td>
                            <td colspan="2">
                                <table class="ui table">
                                    <thead>
                                    <tr>
                                        <th>Quantité</th>
                                        <th>Prix</th>
                                        <th>Date</th>
                                        <th>User</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let product of productGroup.productsGroup">
                                        <td>{{product.quantity}}</td>
                                        <td>{{product.price}}€</td>
                                        <td>{{product.creationDate | date:'dd/MM/yyyy'}}<br>
                                            <i>{{product.creationDate | date:'HH:mm'}}</i></td>
                                        <td>{{product.firstname + ' ' + product.lastname}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ui bottom attached segment" suiTabContent="2">
                    <table class="ui celled table">
                        <thead>
                        <tr>
                            <th>Nom du produit</th>
                            <th>Quantité</th>
                            <th>Prix</th>
                            <th>Date</th>
                            <th>Ajouté par</th>
                            <th>Supprimer</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let product of products">
                        <tr>
                            <td>{{product.product.productDetail.name}}</td>
                            <td>{{product.quantity}}</td>
                            <td>{{product.product.price}}€</td>
                            <td>{{product.creationDate | date:'dd/MM/yyyy'}}<br>
                                <i>{{product.creationDate | date:'HH:mm'}}</i></td>
                            <td>{{product.user.firstname + ' ' + product.user.lastname}}</td>
                            <td>
                                <button class="ui inverted red button" (click)="deleteProduct(product)">DELETE</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </sui-tabset>

        </div>
    </div>
</div>
